.accordion-wrapper {
  display: contents;
}
 
.accordion-accordion {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.accordion-element1 {
  width: 640px;
  user-select: none;
}
 
.accordion-details1 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.accordion-text1 {
  width: 100%;
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 27px;
}
 
.accordion-text2 {
  width: 100%;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
  user-select: text;
}
 
.accordion-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.accordion-element2 {
  width: 640px;
  user-select: none;
}
 
.accordion-details2 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.accordion-text3 {
  width: 100%;
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 27px;
}
 
.accordion-text4 {
  width: 100%;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
  user-select: text;
}
 
.accordion-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.accordion-element3 {
  width: 640px;
  user-select: none;
}
 
.accordion-details3 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.accordion-text5 {
  width: 100%;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
  user-select: text;
}
 
.accordion-text6 {
  width: 100%;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
  user-select: text;
}
 
.accordion-icon5 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.accordion-container2 {
  display: contents;
}
 
.pricing-fragment1 {
  display: contents;
}
 
.pricing-text11 {
  display: inline-block;
}
 
.pricing-fragment2 {
  display: contents;
}
 
.pricing-text15 {
  display: inline-block;
}
 
.pricing-fragment3 {
  display: contents;
}
 
.pricing-text19 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .accordion-element1 {
    width: 100%;
    max-width: 560px;
  }
  .accordion-text1 {
    font-size: 16px;
    line-height: 24px;
  }
  .accordion-element2 {
    width: 100%;
    max-width: 560px;
  }
  .accordion-text3 {
    font-size: 16px;
  }
  .accordion-element3 {
    width: 100%;
    max-width: 560px;
  }
}
 
@media(max-width: 479px) {
  .accordion-element1 {
    width: 350px;
    max-width: auto;
  }
  .accordion-element2 {
    width: 350px;
    max-width: auto;
  }
  .accordion-element3 {
    width: 350px;
    max-width: auto;
  }
}

.pricing-pricing {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
}
 
.pricing-section {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: center;
}
 
.pricing-image {
  width: 400px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 590px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/group%201281.svg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.pricing-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing-text10 {
  font-size: 40px;
  max-width: 640px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
 
.pricing-fragment1 {
  display: contents;
}
 
.pricing-text11 {
  display: inline-block;
}
 
.pricing-fragment2 {
  display: contents;
}
 
.pricing-text15 {
  display: inline-block;
}
 
.pricing-fragment3 {
  display: contents;
}
 
.pricing-text19 {
  display: inline-block;
}
 
.pricing-fragment4 {
  display: contents;
}
 
.pricing-text25 {
  display: inline-block;
  font-size: 40px;
  max-width: 640px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
 
@media(max-width: 991px) {
  .pricing-section {
    align-items: center;
    padding-top: var(--dl-layout-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column-reverse;
    padding-bottom: var(--dl-layout-space-fourunits);
    border-top-width: 1px;
  }
  .pricing-content {
    margin-top: 0px;
  }
}
 
@media(max-width: 767px) {
  .pricing-section {
    gap: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .pricing-image {
    width: 100%;
    max-width: 400px;
  }
}
