.point-wrapper {
  display: contents;
}
 
.point-point {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon1 {
  width: 12px;
  height: 12px;
}
 
.point-text1 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text13 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-qgae {
  display: contents;
}
 
.point-point1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check1 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon3 {
  width: 12px;
  height: 12px;
}
 
.point-text2 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text14 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-dt0d {
  display: contents;
}
 
.point-point2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check2 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon5 {
  width: 12px;
  height: 12px;
}
 
.point-text3 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text15 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-bpw9 {
  display: contents;
}
 
.point-point3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check3 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon7 {
  width: 12px;
  height: 12px;
}
 
.point-text4 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text16 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-y75a {
  display: contents;
}
 
.point-point4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check4 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon9 {
  width: 12px;
  height: 12px;
}
 
.point-text5 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text17 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-tmq3 {
  display: contents;
}
 
.point-point5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check5 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon11 {
  width: 12px;
  height: 12px;
}
 
.point-text6 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text20 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-euth {
  display: contents;
}
 
.point-point6 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check6 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon13 {
  width: 12px;
  height: 12px;
}
 
.point-text7 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text23 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-5k9m {
  display: contents;
}
 
.point-point7 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check7 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon15 {
  width: 12px;
  height: 12px;
}
 
.point-text8 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text26 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-i31i {
  display: contents;
}
 
.point-point8 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check8 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon17 {
  width: 12px;
  height: 12px;
}
 
.point-text9 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text30 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-54hm {
  display: contents;
}
 
.point-point9 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check9 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon19 {
  width: 12px;
  height: 12px;
}
 
.point-text10 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text33 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-jxrv {
  display: contents;
}
 
.point-point10 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check10 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon21 {
  width: 12px;
  height: 12px;
}
 
.point-text11 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text36 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-67o1 {
  display: contents;
}
 
.point-point11 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check11 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon23 {
  width: 12px;
  height: 12px;
}
 
.point-text12 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text39 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-r9ot {
  display: contents;
}
 
.point-point12 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check12 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon25 {
  width: 12px;
  height: 12px;
}
 
.point-text13 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text42 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-urtv {
  display: contents;
}
 
.point-point13 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check13 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon27 {
  width: 12px;
  height: 12px;
}
 
.point-text14 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text45 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-fw5c {
  display: contents;
}
 
.point-point14 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check14 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon29 {
  width: 12px;
  height: 12px;
}
 
.point-text15 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text48 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-cwyc {
  display: contents;
}
 
.point-point15 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check15 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon31 {
  width: 12px;
  height: 12px;
}
 
.point-text16 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text51 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-05k8 {
  display: contents;
}
 
.point-point16 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check16 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon33 {
  width: 12px;
  height: 12px;
}
 
.point-text17 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text54 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-gvyb {
  display: contents;
}
 
.point-point17 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check17 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon35 {
  width: 12px;
  height: 12px;
}
 
.point-text18 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text55 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-vp7s {
  display: contents;
}
 
.point-point18 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check18 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon37 {
  width: 12px;
  height: 12px;
}
 
.point-text19 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text56 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-in2e {
  display: contents;
}
 
.point-point19 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check19 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon39 {
  width: 12px;
  height: 12px;
}
 
.point-text20 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text58 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-839v {
  display: contents;
}
 
.point-point20 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check20 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon41 {
  width: 12px;
  height: 12px;
}
 
.point-text21 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text59 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-v0op {
  display: contents;
}
 
.point-point21 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check21 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon43 {
  width: 12px;
  height: 12px;
}
 
.point-text22 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text60 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-3um6 {
  display: contents;
}
 
.point-point22 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check22 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon45 {
  width: 12px;
  height: 12px;
}
 
.point-text23 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text61 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.point-wrapper-c7de {
  display: contents;
}
 
.point-point23 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check23 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon47 {
  width: 12px;
  height: 12px;
}
 
.point-text24 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text62 {
  display: inline-block;
}
 
.pointroot-class-name {
  position: static;
}
 
.pointroot-class-name1 {
  position: static;
}
 
.pointroot-class-name2 {
  position: static;
}
 
.pointroot-class-name3 {
  position: static;
}
 
.pointroot-class-name4 {
  position: static;
}
 
.pointroot-class-name5 {
  position: static;
}

.services-services {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  display: flex;
  z-index: 10;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
 
.services-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.services-heading {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.services-text10 {
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.services-text11 {
  font-size: 18px;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 27px;
}
 
.services-content2 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.services-text12 {
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.services-points1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.services-fragment10 {
  display: contents;
}
 
.services-text13 {
  display: inline-block;
}
 
.services-fragment11 {
  display: contents;
}
 
.services-text14 {
  display: inline-block;
}
 
.services-fragment12 {
  display: contents;
}
 
.services-text15 {
  display: inline-block;
}
 
.services-fragment13 {
  display: contents;
}
 
.services-text16 {
  display: inline-block;
}
 
.services-fragment14 {
  display: contents;
}
 
.services-text17 {
  display: inline-block;
}
 
.services-fragment15 {
  display: contents;
}
 
.services-text20 {
  display: inline-block;
}
 
.services-fragment16 {
  display: contents;
}
 
.services-text23 {
  display: inline-block;
}
 
.services-fragment17 {
  display: contents;
}
 
.services-text26 {
  display: inline-block;
}
 
.services-content3 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.services-text29 {
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.services-points2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.services-fragment18 {
  display: contents;
}
 
.services-text30 {
  display: inline-block;
}
 
.services-fragment19 {
  display: contents;
}
 
.services-text33 {
  display: inline-block;
}
 
.services-fragment20 {
  display: contents;
}
 
.services-text36 {
  display: inline-block;
}
 
.services-fragment21 {
  display: contents;
}
 
.services-text39 {
  display: inline-block;
}
 
.services-fragment22 {
  display: contents;
}
 
.services-text42 {
  display: inline-block;
}
 
.services-fragment23 {
  display: contents;
}
 
.services-text45 {
  display: inline-block;
}
 
.services-fragment24 {
  display: contents;
}
 
.services-text48 {
  display: inline-block;
}
 
.services-fragment25 {
  display: contents;
}
 
.services-text51 {
  display: inline-block;
}
 
.services-fragment26 {
  display: contents;
}
 
.services-text54 {
  display: inline-block;
}
 
.services-fragment27 {
  display: contents;
}
 
.services-text55 {
  display: inline-block;
}
 
.services-fragment28 {
  display: contents;
}
 
.services-text56 {
  display: inline-block;
}
 
.services-content4 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.services-text57 {
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
}
 
.services-points3 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
}
 
.services-fragment29 {
  display: contents;
}
 
.services-text58 {
  display: inline-block;
}
 
.services-fragment30 {
  display: contents;
}
 
.services-text59 {
  display: inline-block;
}
 
.services-fragment31 {
  display: contents;
}
 
.services-text60 {
  display: inline-block;
}
 
.services-fragment32 {
  display: contents;
}
 
.services-text61 {
  display: inline-block;
}
 
.services-fragment33 {
  display: contents;
}
 
.services-text62 {
  display: inline-block;
}
 
.services-text63 {
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-text64 {
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-text65 {
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-fragment34 {
  display: contents;
}
 
.services-text66 {
  display: inline-block;
}
 
.services-fragment35 {
  display: contents;
}
 
.services-text67 {
  display: inline-block;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-fragment36 {
  display: contents;
}
 
.services-text77 {
  display: inline-block;
}
 
.services-fragment37 {
  display: contents;
}
 
.services-text78 {
  display: inline-block;
}
 
.services-fragment38 {
  display: contents;
}
 
.services-text79 {
  display: inline-block;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-fragment39 {
  display: contents;
}
 
.services-text83 {
  display: inline-block;
}
 
.services-fragment40 {
  display: contents;
}
 
.services-text84 {
  display: inline-block;
  max-width: 535px;
  font-family: "Poppins";
  line-height: 24px;
}
 
.services-fragment41 {
  display: contents;
}
 
.services-text90 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .services-services {
    padding-top: var(--dl-layout-space-fourunits);
    border-color: #DBDBDB;
    flex-direction: column;
    border-top-width: 1px;
  }
  .services-content1 {
    gap: var(--dl-layout-space-unit);
  }
  .services-content2 {
    gap: var(--dl-layout-space-twounits);
  }
  .services-content3 {
    gap: var(--dl-layout-space-twounits);
  }
  .services-content4 {
    gap: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 767px) {
  .services-text10 {
    font-size: 32px;
    line-height: 44px;
  }
  .services-text11 {
    font-size: 16px;
    line-height: 24px;
  }
  .services-text12 {
    font-size: 16px;
    line-height: 24px;
  }
  .services-text29 {
    font-size: 16px;
    line-height: 24px;
  }
  .services-text57 {
    font-size: 16px;
    line-height: 24px;
  }
}
 
@media(max-width: 479px) {
  .services-services {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
}
